<div id='floatdiv' style='position:absolute;width:350px;top:10px;right:10px;background:#000000;border:2px solid #000000;color:white;z-index:100;font-size:15px;text-align:center;'>
	<div id='input-box' style='background-color: white;color: black;text-align: left;width:250px;float:left;'> 
		<div id='chatcontents' style='height:300px;'> 
			<ul style='overflow-y:scroll;overflow-x:hidden;height:300px;list-style-type:none;margin:0px;padding-left:0px;' id='chat-box-container'> 
				<li style='padding-top:10px;'><div style='border-left:5px solid orange;'>客服:</div>欢迎联系客服。</li> 
			</ul> 
		</div> 
		<form id='chatform'> <input type='text' id='chatinput' style='border:0px;width:100%;border-top:solid orange 1px;height:60px;'/> </form> 
	</div>

	<div id="" class="" style="width: 100px;float:right;" >
		<div style='padding:10px 10px;border-bottom:solid white 2px;'> 延迟 <span id='lag'>n/a</span> ms </div>
		<div id="Picture" class="">
			<img src="static/img/interface-img/ebhome/bookmark.png" alt="">
		</div><!-- /Picture -->
		<div id="" class="service" style='padding:10px 10px;border-bottom:solid white 1px;'>
			<span style='font-size: 10px;'>售前客服</span>
			<a target="_blank" href="http://amos1.taobao.com/msg.ww?v=2&amp;uid=arxin2010&amp;s=1"><img border="0" src="http://amos1.taobao.com/online.ww?v=2&amp;uid=arxin2010&amp;s=1" alt="点击这里给我发消息"></a>
		</div><!-- / -->
		<div id="" class="service" style='padding:10px 10px;border-bottom:solid white 1px;'>
			<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1175366643&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1175366643:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
		</div><!-- / -->
		<div id="" class="service" style='padding:10px 10px;border-bottom:solid white 1px;'>
			<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1175366643&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1175366643:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
		</div><!-- / -->
		<a href='javascript:ToggleChat();' style='text-decoration:none;color:black;' id='chattitle'>
			<div id="" class="" style='padding:10px 10px;border-bottom:solid white 1px;background-color:white;'>
				在线客服
			</div><!-- / -->
		</a>
		<a href='javascript:ToggleChat();' style='text-decoration:none;color:white;' id='chattitle'>
			<div id="" class="" style='padding:10px 10px;border-bottom:solid black 1px;background-color:black;'>
				回到顶端
			</div><!-- / -->
		</a>
	</div><!-- / --> 
</div>