<div id='floatdiv' style='position:absolute;width:200px;top:10px;right:10px;background:rgb(255, 173, 0);border:2px solid rgb(255, 173, 0);color:white;z-index:100;font-size:15px;text-align:center;'>
	<div style='padding:10px'>
	在线<span id='online'>n/a</span>人 | 
	延迟 <span id='lag'>n/a</span> ms
	</div>
	<div id='input-box' style='background-color: white;color: black;text-align: left;'>
		<div id='chatcontents' style='height:250px;'>
			<ul style='overflow-y:scroll;overflow-x:hidden;height:250px;list-style-type:none;margin:0px;padding-left:0px;'>
				<li style='padding-top:10px;'><div style='border-left:5px solid orange;'>Nick:</div>hello,this is frank, who are you ?</li>
			</ul>
		</div>
		<form id='chatform'>	
		<input type='text' id='chatinput' style='border:0px;width:100%;border-top:solid orange 1px;height:30px;'/>
		</form>
	</div>
</div>