@charset "utf-8";
/* CSS Document */
.BigGraph { height:200px; border: 1px solid #999; margin-bottom:10px;}
.Overview { height:30px; border: 1px solid #999; margin-bottom:10px;}
.chatitem { margin-top: 20px; margin-left:0px !important;}